<a href="https://colab.research.google.com/github/benvictoria21/pandas/blob/master/Amazon_Prime_Category_wise_Best_movie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os

In [3]:
amazon = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/datasets_724030_1277618_Prime%20TV%20Shows%20Data%20set.csv",encoding="iso-8859-1")

In [4]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   S.no.                    503 non-null    int64
 1   Name of the show         503 non-null    object
 2   Year of release          503 non-null    int64
 3   No of seasons available  503 non-null    int64
 4   Language                 503 non-null    object
 5   Genre                    503 non-null    object
 6   IMDb rating              220 non-null    float64
 7   Age of viewers           503 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 31.6+ KB

In [6]:
#Lot of IMDB ratings are missing (283)
amazon.isnull().sum()

S.no.                        0
Name of the show             0
Year of release              0
No of seasons available      0
Language                     0
Genre                        0
IMDb rating                283
Age of viewers               0
dtype: int64

In [7]:
#Now lets try to see missing IMDB values by Genre
amazon.groupby('Genre')['S.no.'].count()
#amazon['Genre'].value_counts()

Genre
Action                                         26
Action, Comedy                                  1
Adventure                                       2
Animation                                       2
Animation, Drama                                1
Arts, Entertainment, Culture                   12
Comedy                                         98
Comedy, Action                                  1
Comedy, Arts, Entertainment, Culture            1
Comedy, Drama                                   1
Crime                                           8
Documentary                                     5
Drama                                         125
Drama, Action                                  11
Drama, Action, Adventure                        1
Drama, Action, Sci-fi                           1
Drama, Action, Suspense                         3
Drama, Comeddy                                  1
Drama, Comedy                                  15
Drama, Comedy, Action                           1
Drama, Comedy, LGBTQ                            1
Drama, Documentary                              2
Drama, Fantasy                                  2
Drama, Horror                                   2
Drama, Horror, Fantasy                          1
Drama, Horror, Romance, Suspense                1
Drama, Horror, Suspense                         2
Drama, LGBTQ, Arts, Entertainment, Culture      1
Drama, Romance                                  4
Drama, Romance, Comedy                          1
Drama, Sci-fi                                   7
Drama, Sci-fi, Suspense, Action                 1
Drama, Sports                                   1
Drama, Suspense                                12
Drama, Suspense, Action                         2
Drama, Suspense, Adventure                      1
Drama, Suspense, Fantasy                        1
Drama, Suspense, Horror                         1
Fantasy                                         1
Fantasy, Comedy                                 1
Horror                                          1
Kids                                          127
Kids, Animation                                 2
Romance                                         1
Sci-fi                                          4
Sci-fi                                          1
Sci-fi comedy                                   1
Sci-fi, Action, Suspense                        1
Sci-fi, Drama, Suspense                         1
Sports                                          1
Sports, Drama                                   2
Name: S.no., dtype: int64

In [8]:
#Dropping columns where IMDB rating is missing
amazon1 = amazon.dropna(axis=0)
amazon1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 220 entries, 0 to 473
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   S.no.                    220 non-null    int64
 1   Name of the show         220 non-null    object
 2   Year of release          220 non-null    int64
 3   No of seasons available  220 non-null    int64
 4   Language                 220 non-null    object
 5   Genre                    220 non-null    object
 6   IMDb rating              220 non-null    float64
 7   Age of viewers           220 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 15.5+ KB

In [9]:
amazon.head()

   S.no.           Name of the show  ...  IMDb rating  Age of viewers
0      1                 Pataal Lok  ...          7.5             18+
1      2                     Upload  ...          8.1             16+
2      3  The Marvelous Mrs. Maisel  ...          8.7             16+
3      4     Four More Shots Please  ...          5.3             18+
4      5                    Fleabag  ...          8.7             18+

[5 rows x 8 columns]

In [10]:
amazon_2020 = amazon1[amazon1['Year of release'] == 2020].sort_values(by='IMDb rating',ascending = False)
#Top 5 movies of 2020
amazon_2020.head(5)

     S.no.  ... Age of viewers
20      21  ...            16+
452    453  ...            All
1        2  ...            16+
17      18  ...            18+
73      74  ...            18+

[5 rows x 8 columns]