In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
from matplotlib import pyplot as plt

In [4]:
df = pd.read_csv("/Users/thomo/google drive /developerProjects/pandas/dataset/city_temperature.csv")
df.head(10)

/Users/thomo/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9
5  Africa  Algeria   NaN  Algiers      1    6  1995            48.7
6  Africa  Algeria   NaN  Algiers      1    7  1995            48.9
7  Africa  Algeria   NaN  Algiers      1    8  1995            49.1
8  Africa  Algeria   NaN  Algiers      1    9  1995            49.0
9  Africa  Algeria   NaN  Algiers      1   10  1995            51.9

In [5]:
df.Year.value_counts()

2000    119682
1999    119355
2001    119355
2002    119355
2003    119140
1998    119082
1996    118951
1997    118656
2004    118645
1995    118616
2005    117895
2006    117647
2010    115627
2007    115428
2008    114908
2009    114247
2011    113740
2012    111993
2013    111021
2014    109018
2015    107498
2016    107237
2017    106946
2018    106698
2019    106337
2020     38810
201        351
200         89
Name: Year, dtype: int64

In [6]:
def avg_temp(year):
    cur_year = df[(df["Year"] == year) & (df["Region"] == "Africa")]
    cur_year_mean = cur_year["AvgTemperature"].mean()
    return cur_year_mean

In [7]:
avg_temp(2020)

74.8677981937092

In [8]:
columns = [1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
data = []
for i in columns:
    mean_afr = avg_temp(i)
    data.append(mean_afr)
data

[52.97673713055389,
 48.348380171740835,
 37.28249510763201,
 30.327075252133515,
 34.153868682097425,
 30.25645374034299,
 39.14619744922062,
 34.032092583845056,
 34.28053849787433,
 41.053457697380914,
 47.777420878601674,
 48.000330562901325,
 64.60189617656226,
 61.68450273224043,
 68.41324931506819,
 59.913363333985785,
 61.29744618395316,
 69.16082380325881,
 69.38145743145726,
 69.34383127527065,
 70.11830601092885,
 71.663864903268,
 71.76192198115297,
 69.36912368781351,
 70.28376897614439,
 74.8677981937092]