In [1]:
# Import the `pandas` library as `pd`
import pandas as pd

# Load in the data with `read_csv()`
digits = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/optdigits/optdigits.tra",
                     header=None)

# Print out `digits`
print(digits)

      0   1   2   3   4   5   6   7   8   9   ...  55  56  57  58  59  60  61  \
0      0   1   6  15  12   1   0   0   0   7  ...   0   0   0   6  14   7   1
1      0   0  10  16   6   0   0   0   0   7  ...   0   0   0  10  16  15   3
2      0   0   8  15  16  13   0   0   0   1  ...   0   0   0   9  14   0   0
3      0   0   0   3  11  16   0   0   0   0  ...   0   0   0   0   1  15   2
4      0   0   5  14   4   0   0   0   0   0  ...   0   0   0   4  12  14   7
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..
3818   0   0   5  13  11   2   0   0   0   2  ...   0   0   0   8  13  15  10
3819   0   0   0   1  12   1   0   0   0   0  ...   0   0   0   0   4   9   0
3820   0   0   3  15   0   0   0   0   0   0  ...   0   0   0   4  14  16   9
3821   0   0   6  16   2   0   0   0   0   0  ...   0   0   0   5  16  16  16
3822   0   0   2  15  16  13   1   0   0   0  ...   0   0   0   4  14   1   0

      62  63  64
0      0   0   0
1      0   0   0
2      0   0   7
3      0   0   4
4      0   0   6
...   ..  ..  ..
3818   1   0   9
3819   0   0   4
3820   0   0   6
3821   5   0   6
3822   0   0   7

[3823 rows x 65 columns]

In [3]:
digits.describe()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
count,3823.0,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000,...,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000
mean,0.0,0.301334,5.481821,11.805912,11.451478,5.505362,1.387392,0.142297,0.002093,1.960502,...,0.148313,0.000262,0.283024,5.855872,11.942977,11.461156,6.700497,2.105676,0.202197,4.497253
std,0.0,0.866986,4.631601,4.259811,4.537556,5.613060,3.371444,1.051598,0.088572,3.052353,...,0.767761,0.016173,0.928046,4.980012,4.334508,4.991934,5.775815,4.028266,1.150694,2.869831
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.000000,1.000000,10.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,10.000000,9.000000,0.000000,0.000000,0.000000,2.000000
50%,0.0,0.000000,5.000000,13.000000,13.000000,4.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,5.000000,13.000000,13.000000,6.000000,0.000000,0.000000,4.000000
75%,0.0,0.000000,9.000000,15.000000,15.000000,10.000000,0.000000,0.000000,0.000000,3.000000,...,0.000000,0.000000,0.000000,10.000000,15.000000,16.000000,12.000000,2.000000,0.000000,7.000000
max,0.0,8.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,5.000000,15.000000,...,12.000000,1.000000,10.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,9.000000

In [4]:
# Inspect the first 5 rows of `digits`
first = digits.head(5)

# Inspect the last 5 rows
last = digits.tail(5)

In [5]:
# Take a sample of 5
digits.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
3322,0,0,11,12,5,0,0,0,0,0,...,0,0,0,13,13,7,0,0,0,0
2337,0,0,7,16,16,16,12,0,0,0,...,0,0,0,10,8,0,0,0,0,7
2751,0,0,7,15,12,3,0,0,0,0,...,0,0,0,5,16,10,3,0,0,1
3130,0,2,15,16,5,0,0,0,0,6,...,0,0,3,16,16,16,16,16,3,2
269,0,0,7,15,6,0,0,0,0,0,...,0,0,0,9,15,10,1,0,0,0

In [6]:
# Identifiy missing values
pd.isnull(digits)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3818,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3819,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3820,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3821,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3822,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
# Drop rows with missing values
digits.dropna(axis=0)

# Drop columns with missing values 
digits.dropna(axis=1)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,1,6,15,12,1,0,0,0,7,...,0,0,0,6,14,7,1,0,0,0
1,0,0,10,16,6,0,0,0,0,7,...,0,0,0,10,16,15,3,0,0,0
2,0,0,8,15,16,13,0,0,0,1,...,0,0,0,9,14,0,0,0,0,7
3,0,0,0,3,11,16,0,0,0,0,...,0,0,0,0,1,15,2,0,0,4
4,0,0,5,14,4,0,0,0,0,0,...,0,0,0,4,12,14,7,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3818,0,0,5,13,11,2,0,0,0,2,...,0,0,0,8,13,15,10,1,0,9
3819,0,0,0,1,12,1,0,0,0,0,...,0,0,0,0,4,9,0,0,0,4
3820,0,0,3,15,0,0,0,0,0,0,...,0,0,0,4,14,16,9,0,0,6
3821,0,0,6,16,2,0,0,0,0,0,...,0,0,0,5,16,16,16,5,0,6
3822,0,0,2,15,16,13,1,0,0,0,...,0,0,0,4,14,1,0,0,0,7

In [14]:
digits.interpolate()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,1,6,15,12,1,0,0,0,7,...,0,0,0,6,14,7,1,0,0,0
1,0,0,10,16,6,0,0,0,0,7,...,0,0,0,10,16,15,3,0,0,0
2,0,0,8,15,16,13,0,0,0,1,...,0,0,0,9,14,0,0,0,0,7
3,0,0,0,3,11,16,0,0,0,0,...,0,0,0,0,1,15,2,0,0,4
4,0,0,5,14,4,0,0,0,0,0,...,0,0,0,4,12,14,7,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3818,0,0,5,13,11,2,0,0,0,2,...,0,0,0,8,13,15,10,1,0,9
3819,0,0,0,1,12,1,0,0,0,0,...,0,0,0,0,4,9,0,0,0,4
3820,0,0,3,15,0,0,0,0,0,0,...,0,0,0,4,14,16,9,0,0,6
3821,0,0,6,16,2,0,0,0,0,0,...,0,0,0,5,16,16,16,5,0,6
3822,0,0,2,15,16,13,1,0,0,0,...,0,0,0,4,14,1,0,0,0,7

In [18]:
# Import `PCA` from `sklearn.decomposition`
from sklearn.decomposition import PCA

# Build the model
pca = PCA(n_components=2)

# Reduce the data, output is ndarray
reduced_data = pca.fit_transform(digits)

# Inspect shape of the `reduced_data`
reduced_data.shape

# print out the reduced data
print(reduced_data)

[[ 12.65674322  -4.63610631]
 [ 16.82906654 -12.9657606 ]
 [-19.08072442  10.58294162]
 ...
 [ 23.90693659   6.06266086]
 [ 29.17987047  -3.06845912]
 [-25.23131954  11.6086281 ]]

In [21]:
# Pearson correlation
digits.corr()

# Kendall Tau correlation
digits.corr('kendall')

# Spearman Rank correlation
digits.corr('spearman')

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1.000000,0.535801,0.255584,-0.032598,-0.020505,-0.001275,-0.042503,0.068225,0.526012,...,-0.035345,-0.006903,0.641194,0.535029,0.179254,-0.051768,0.022086,0.093840,0.025888,-0.045080
2,NaN,0.535801,1.000000,0.624414,-0.060228,-0.026432,0.008155,-0.037207,-0.003864,0.589757,...,-0.038083,-0.022034,0.482538,0.933812,0.538914,-0.100097,-0.027458,0.067641,0.097631,0.015340
3,NaN,0.255584,0.624414,1.000000,0.090991,-0.103445,-0.090090,-0.039556,-0.006501,0.317017,...,0.012636,-0.005774,0.208398,0.599364,0.518485,0.019704,-0.002260,0.066130,0.083186,-0.012455
4,NaN,-0.032598,-0.060228,0.090991,1.000000,0.662698,0.277607,0.048848,0.018058,-0.032988,...,-0.139522,0.022314,-0.065447,-0.008463,0.003727,-0.074546,-0.248528,-0.283564,-0.192853,0.163695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,-0.051768,-0.100097,0.019704,-0.074546,-0.297649,-0.368731,-0.203661,0.004451,0.034393,...,0.130024,0.020940,-0.024775,-0.157533,0.162284,1.000000,0.687078,0.382405,0.112332,-0.160509
61,NaN,0.022086,-0.027458,-0.002260,-0.248528,-0.325125,-0.372705,-0.208618,-0.009458,0.096593,...,0.281569,0.011610,0.039727,-0.075535,0.000496,0.687078,1.000000,0.777100,0.279160,-0.171798
62,NaN,0.093840,0.067641,0.066130,-0.283564,-0.370160,-0.301161,-0.119703,-0.019559,0.120419,...,0.415032,-0.011290,0.080390,0.028993,0.002592,0.382405,0.777100,1.000000,0.451810,-0.094983
63,NaN,0.025888,0.097631,0.083186,-0.192853,-0.227447,-0.132514,-0.041919,-0.006702,0.042679,...,0.560600,-0.003868,0.034656,0.078180,0.071734,0.112332,0.279160,0.451810,1.000000,-0.125251
64,NaN,-0.045080,0.015340,-0.012455,0.163695,0.243381,0.252827,0.114796,0.014761,0.019832,...,-0.017060,-0.014090,-0.052259,0.028697,-0.029305,-0.160509,-0.171798,-0.094983,-0.125251,1.000000