In [43]:
import numpy as np
import pandas as pd

In [44]:
df = pd.read_csv("https://raw.githubusercontent.com/benvictoria17/DataAnalytics/main/dataset/2021-22%20NBA%20Season%20Active%20NBA%20Players/players.csv")

In [45]:
result = df.head(10)
print(result)

             Name Position            Team  Age  Height  Height_i  Weight     College      Salary  Points  Rebounds  Assists
0  Juhann Begarin       SG  Boston Celtics   19   6' 5"      6.50     185         NaN         NaN     NaN       NaN      NaN
1    Jaylen Brown       SG  Boston Celtics   24   6' 6"      6.60     223  California  26758928.0    24.7       6.0      3.4
2       Kris Dunn       PG  Boston Celtics   27   6' 3"      6.30     205  Providence   5005350.0     1.3       1.5      0.5
3  Carsen Edwards       PG  Boston Celtics   23  5' 11"      5.11     200      Purdue   1782621.0     4.0       0.8      0.5
4      Tacko Fall        C  Boston Celtics   25   7' 5"      7.50     311         UCF         NaN     2.5       2.7      0.2
5  Bruno Fernando        F  Boston Celtics   23   6' 9"      6.90     240    Maryland   1782621.0     1.5       2.4      0.3
6      Al Horford        C  Boston Celtics   35   6' 9"      6.90     240     Florida  27000000.0    14.2       6.7      3.4
7     Enes Kanter        C  Boston Celtics   29  6' 10"      6.10     250    Kentucky   1669178.0    11.2      11.0      1.2
8     Luke Kornet        C  Boston Celtics   26   7' 2"      7.20     250  Vanderbilt         NaN     3.4       2.2      0.8
9  Romeo Langford       SG  Boston Celtics   21   6' 4"      6.40     216     Indiana   3804360.0     3.1       1.9      0.7

In [46]:
result = len(df.index)
print(result)

558

In [47]:
result = df["Salary"].mean()
print(result)

8813695.5752809

In [48]:
result = df[df["Salary"].max() == df["Salary"]]["Name"].iloc[0]
print(result)

Stephen Curry

In [49]:
result = df[df["Name"] == "Kemba Walker"]["Position"].iloc[0]
print(result)

PG

In [50]:
position_mean = df.groupby(["Position"]).mean()
result = position_mean[["Salary","Age"]]
result = result.round(2)
print(result)

               Salary    Age
Position
C          8456428.80  26.02
F          2560251.89  24.75
G          8980619.71  24.93
PF         8111010.82  25.72
PG        11215125.14  25.74
SF         8850135.80  25.72
SG         8193987.70  24.99

In [52]:
result = df["Position"].nunique()
print(result)

7

In [53]:
result = df["Position"].value_counts()
print(result)

SG    131
SF    106
PG    102
PF     96
C      88
F      20
G      15
Name: Position, dtype: int64

In [54]:
result = df["Team"].value_counts()
print(result)

Brooklyn Nets             25
Memphis Grizzlies         22
Charlotte Hornets         21
New York Knicks           21
Oklahoma City Thunder     21
Houston Rockets           21
Orlando Magic             21
Philadelphia Sixers       20
Milwaukee Bucks           20
Boston Celtics            19
San Antonio Spurs         19
Golden State Warriors     19
Detroit Pistons           18
Sacremento Kings          18
Portland Trail Blazers    18
Dallas Mavericks          18
Utah Jazz                 18
Los Angeles Clippers      18
Indiana Pacers            18
Washington Wizards        18
Phoenix Suns              17
Atlanta Hawks             17
New Orleans Pelicans      17
Chicago Bulls             17
Denver Nuggets            17
Toronto Raptors           17
Miami Heat                17
Los Angeles Lakers        16
Cleveland Cavaliers       15
Minnesota Timberwolves    15
Name: Team, dtype: int64

In [55]:
df = df.dropna()
result = df[df["Name"].str.contains("and")]
print(result)

                         Name Position                   Team  Age  Height  Height_i  Weight        College      Salary  Points  Rebounds  Assists
5              Bruno Fernando        F         Boston Celtics   23   6' 9"      6.90     240       Maryland   1782621.0     1.5       2.4      0.3
58              Julius Randle       PF        New York Knicks   26   6' 8"      6.80     250       Kentucky  21780000.0    24.1      10.2      6.0
121            Darius Garland       PG    Cleveland Cavaliers   21   6' 1"      6.10     192     Vanderbilt   7040880.0    17.4       2.4      6.1
337             Deandre Ayton        C           Phoenix Suns   23  6' 11"      6.11     250        Arizona  12632950.0    14.4      10.5      1.4
342        Chandler Hutchison       SF           Phoenix Suns   25   6' 6"      6.60     210    Boise State   4019459.0     4.3       3.1      0.7
352             Landry Shamet       SG           Phoenix Suns   24   6' 4"      6.40     190  Wichita State   3768342.0     9.3       1.8      1.6
416            Brandon Clarke       PF      Memphis Grizzlies   24   6' 8"      6.80     215        Gonzaga   2726880.0    10.3       5.6      1.6
433  Nickeil Alexander-Walker       SG   New Orleans Pelicans   23   6' 6"      6.60     205  Virginia Tech   3261480.0    11.0       3.1      2.2
439            Brandon Ingram       SF   New Orleans Pelicans   24   6' 8"      6.80     190           Duke  29467800.0    23.8       4.9      4.9
508   Shai Gilgeous-Alexander       SG  Oklahoma City Thunder   23   6' 6"      6.60     180       Kentucky   5495532.0    23.7       4.7      5.9

In [56]:
def str_find(name):
    if"and" in name.lower():
        return True
    return False

df.dropna(inplace=True)
result = df[df["Name"].apply(str_find)]
print(result)

                         Name Position                   Team  Age  Height  Height_i  Weight         College      Salary  Points  Rebounds  Assists
5              Bruno Fernando        F         Boston Celtics   23   6' 9"      6.90     240        Maryland   1782621.0     1.5       2.4      0.3
20            DeAndre' Bembry       SG          Brooklyn Nets   27   6' 5"      6.50     210  Saint Joseph's   1669178.0     5.7       2.9      2.1
58              Julius Randle       PF        New York Knicks   26   6' 8"      6.80     250        Kentucky  21780000.0    24.1      10.2      6.0
68             Andre Drummond        C    Philadelphia Sixers   28  6' 10"      6.10     279     Connecticut   1669178.0    14.9      12.0      2.0
121            Darius Garland       PG    Cleveland Cavaliers   21   6' 1"      6.10     192      Vanderbilt   7040880.0    17.4       2.4      6.1
199           De'Andre Hunter       SF          Atlanta Hawks   23   6' 8"      6.80     225        Virginia   7775400.0    15.0       4.8      1.9
289            Andre Iguodala        F  Golden State Warriors   37   6' 6"      6.60     215         Arizona   1669178.0     4.4       3.5      2.3
300     Juan Toscano-Anderson       SF  Golden State Warriors   28   6' 6"      6.60     209       Marquette   1701593.0     5.7       4.4      2.8
301            Andrew Wiggins       SF  Golden State Warriors   26   6' 7"      6.70     197          Kansas  31579390.0    18.6       4.9      2.4
337             Deandre Ayton        C           Phoenix Suns   23  6' 11"      6.11     250         Arizona  12632950.0    14.4      10.5      1.4
342        Chandler Hutchison       SF           Phoenix Suns   25   6' 6"      6.60     210     Boise State   4019459.0     4.3       3.1      0.7
352             Landry Shamet       SG           Phoenix Suns   24   6' 4"      6.40     190   Wichita State   3768342.0     9.3       1.8      1.6
413             Kyle Anderson       SF      Memphis Grizzlies   27   6' 9"      6.90     230            UCLA   9937150.0    12.4       5.7      3.6
416            Brandon Clarke       PF      Memphis Grizzlies   24   6' 8"      6.80     215         Gonzaga   2726880.0    10.3       5.6      1.6
433  Nickeil Alexander-Walker       SG   New Orleans Pelicans   23   6' 6"      6.60     205   Virginia Tech   3261480.0    11.0       3.1      2.2
439            Brandon Ingram       SF   New Orleans Pelicans   24   6' 8"      6.80     190            Duke  29467800.0    23.8       4.9      4.9
508   Shai Gilgeous-Alexander       SG  Oklahoma City Thunder   23   6' 6"      6.60     180        Kentucky   5495532.0    23.7       4.7      5.9

In [57]:
df.dropna(inplace=True)
result = df.drop(df.columns[[1,4,5,6,7,8]], axis=1, inplace=True)
result = df.sort_values(by=["Age","Points"],ascending=[True,False])
result = result.drop_duplicates(subset=["Age"])
print(result)

                 Name                    Team  Age  Points  Rebounds  Assists
489   Anthony Edwards  Minnesota Timberwolves   20    19.3       4.7      2.9
449   Zion Williamson    New Orleans Pelicans   21    27.0       7.2      3.7
206        Trae Young           Atlanta Hawks   22    25.3       3.9      9.4
16       Jayson Tatum          Boston Celtics   23    26.4       7.4      4.3
338      Devin Booker            Phoenix Suns   24    25.6       4.2      4.3
552  Donovan Mitchell               Utah Jazz   25    26.4       4.4      5.2
113       Zach LaVine           Chicago Bulls   26    27.4       5.0      4.9
69        Joel Embiid     Philadelphia Sixers   27    28.5      10.6      2.8
267      Bradley Beal      Washington Wizards   28    31.3       4.7      4.4
31       Kyrie Irving           Brooklyn Nets   29    26.9       4.8      6.0
313     Kawhi Leonard    Los Angeles Clippers   30    24.8       6.5      5.2
529    Damian Lillard  Portland Trail Blazers   31    28.8       4.2      7.5
25       Kevin Durant           Brooklyn Nets   32    26.9       7.1      5.6
287     Stephen Curry   Golden State Warriors   33    32.0       5.5      5.8
70        Danny Green     Philadelphia Sixers   34     9.5       3.8      1.7
234        Kyle Lowry              Miami Heat   35    17.2       5.4      7.3
348        Chris Paul            Phoenix Suns   36    16.4       4.5      8.9
322   Carmelo Anthony      Los Angeles Lakers   37    13.4       3.1      1.5
232     Udonis Haslem              Miami Heat   41     4.0       1.0      0.0

In [58]:
"""
result = df.query('Position == "SG" and Points > 20 or Position == "SG" and Assists > 5')
result = result.sort_values(by='Points',ascending=False)
print(result)
"""

'\nresult = df.query(\'Position == "SG" and Points > 20 or Position == "SG" and Assists > 5\')\nresult = result.sort_values(by=\'Points\',ascending=False)\nprint(result)\n'

In [59]:
"""
result = df.nlargest(5,'Points')
result = df.nsmallest(5,"Rebounds")
"""

'\nresult = df.nlargest(5,\'Points\')\nresult = df.nsmallest(5,"Rebounds")\n'

In [61]:
result = df["Points"].describe()
print(result)

count    339.000000
mean      10.837168
std        6.489215
min        0.800000
25%        5.750000
50%        9.400000
75%       14.250000
max       32.000000
Name: Points, dtype: float64