In [43]:
import numpy as np
import pandas as pd

In [44]:
df = pd.read_csv("https://raw.githubusercontent.com/benvictoria17/DataAnalytics/main/dataset/2021-22%20NBA%20Season%20Active%20NBA%20Players/players.csv")

In [45]:
result = df.head(10)
print(result)

             Name Position            Team  Age  Height  Height_i  Weight     College      Salary  Points  Rebounds  Assists
0  Juhann Begarin       SG  Boston Celtics   19   6' 5"      6.50     185         NaN         NaN     NaN       NaN      NaN
1    Jaylen Brown       SG  Boston Celtics   24   6' 6"      6.60     223  California  26758928.0    24.7       6.0      3.4
2       Kris Dunn       PG  Boston Celtics   27   6' 3"      6.30     205  Providence   5005350.0     1.3       1.5      0.5
3  Carsen Edwards       PG  Boston Celtics   23  5' 11"      5.11     200      Purdue   1782621.0     4.0       0.8      0.5
4      Tacko Fall        C  Boston Celtics   25   7' 5"      7.50     311         UCF         NaN     2.5       2.7      0.2
5  Bruno Fernando        F  Boston Celtics   23   6' 9"      6.90     240    Maryland   1782621.0     1.5       2.4      0.3
6      Al Horford        C  Boston Celtics   35   6' 9"      6.90     240     Florida  27000000.0    14.2       6.7      3.4
7     Enes Kanter        C  Boston Celtics   29  6' 10"      6.10     250    Kentucky   1669178.0    11.2      11.0      1.2
8     Luke Kornet        C  Boston Celtics   26   7' 2"      7.20     250  Vanderbilt         NaN     3.4       2.2      0.8
9  Romeo Langford       SG  Boston Celtics   21   6' 4"      6.40     216     Indiana   3804360.0     3.1       1.9      0.7

In [46]:
result = len(df.index)
print(result)

558

In [47]:
result = df["Salary"].mean()
print(result)

8813695.5752809

In [48]:
result = df[df["Salary"].max() == df["Salary"]]["Name"].iloc[0]
print(result)

Stephen Curry

In [49]:
result = df[df["Name"] == "Kemba Walker"]["Position"].iloc[0]
print(result)

PG

In [50]:
position_mean = df.groupby(["Position"]).mean()
result = position_mean[["Salary","Age"]]
result = result.round(2)
print(result)

               Salary    Age
Position
C          8456428.80  26.02
F          2560251.89  24.75
G          8980619.71  24.93
PF         8111010.82  25.72
PG        11215125.14  25.74
SF         8850135.80  25.72
SG         8193987.70  24.99