In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('https://raw.githubusercontent.com/benvictoria21/MachineLearning/master/dataset/titanic/test.csv')
test = pd.read_csv('https://raw.githubusercontent.com/benvictoria21/MachineLearning/master/dataset/titanic/train.csv')

In [3]:
train.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [4]:
train.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [5]:
test.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [6]:
test.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
train.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [8]:
test.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
# Age Variable
train['Age'] = train['Age'].fillna(train['Age'].mean())
test['Age'] = test['Age'].fillna(test['Age'].mean())

# Fare Variable
test['Fare'] = test['Fare'].fillna(test['Fare'].mean())

# Embarked Variable
train = train[train['Embarked'].notna()]

In [68]:
plt.figure(figsize = (7, 5))
sns.set_palette('rocket_r')
sns.countplot(train['Pclass'])
plt.show()

/opt/anaconda3/envs/datalore-user/lib/python3.7/site-packages/seaborn/_decorators.py:43: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  FutureWarning

In [14]:
train['Title'] = train['Name'].map(lambda name:name.split(',')[1].split('.')[0].strip())
test['Title'] = test['Name'].map(lambda name:name.split(',')[1].split('.')[0].strip())

print(train['Title'].unique(),'\n')
print(test['Title'].unique())

['Mr' 'Mrs' 'Miss' 'Master' 'Ms' 'Col' 'Rev' 'Dr' 'Dona']

['Mr' 'Mrs' 'Miss' 'Master' 'Don' 'Rev' 'Dr' 'Mme' 'Ms' 'Major' 'Lady'
 'Sir' 'Mlle' 'Col' 'Capt' 'the Countess' 'Jonkheer']

In [15]:
Title_Dictionary = {
    "Capt": "Officer",
    "Col": "Officer",
    "Major": "Officer",
    "Jonkheer": "Royalty",
    "Don": "Royalty",
    "Sir" : "Royalty",
    "Dr": "Officer",
    "Rev": "Officer",
    "the Countess":"Royalty",
    "Mme": "Mrs",
    "Mlle": "Miss",
    "Ms": "Mrs",
    "Mr" : "Mr",
    "Mrs" : "Mrs",
    "Miss" : "Miss",
    "Master" : "Master",
    "Lady" : "Royalty",
    "Dona" : "Mrs"
}

train['Title'] = train['Title'].map(Title_Dictionary)
test['Title'] = test['Title'].map(Title_Dictionary)

In [16]:
train['Members'] = train['SibSp'] + train['Parch']
test['Members'] = test['SibSp'] + test['Parch']

train.drop(['SibSp', 'Parch', 'Ticket', 'Name'], axis = 1, inplace = True)
test.drop(['SibSp', 'Parch', 'Ticket', 'Name'], axis = 1, inplace = True)

In [17]:
train.head(3)

,PassengerId,Pclass,Sex,Age,Fare,Cabin,Embarked,Title,Members
0,892,3,male,"(30, 40]",7.8292,NaN,Q,Mr,0
1,893,3,female,"(40, 50]",7.0000,NaN,S,Mrs,1
2,894,2,male,"(60, 80]",9.6875,NaN,Q,Mr,0

In [18]:
plt.figure(figsize = (6, 6))
sns.heatmap(train.corr(), annot = True)
plt.show()

In [19]:
avg_fare_cls = train[['Pclass', 'Fare']].groupby('Pclass').mean()
sns.set_palette('Blues_r')
plt.figure(figsize = (5, 5))
sns.barplot(data = avg_fare_cls.T)
plt.title('Average Fare Per Class', fontsize = 20)
plt.show()

In [21]:
# Filling Missing values in Cabin with "Unknown" --> 'U'
train['Cabin'].fillna('U', inplace = True)
test['Cabin'].fillna('U', inplace = True)

# Using only first letter of Cabin feature
train['Cabin'] = train['Cabin'].apply(lambda x : x[0])
test['Cabin'] = test['Cabin'].apply(lambda x : x[0])

+ Assigning 1 to Male Passengers and 0 to Female Passenger

In [22]:
train['Sex'].replace({'male' : 1, 'female' : 0}, inplace = True)
test['Sex'].replace({'male' : 1, 'female' : 0}, inplace = True)

In [23]:
# Age Dummies for Train and Test datasets
age_train_d = pd.get_dummies(train['Age'], prefix = 'Age')
age_test_d = pd.get_dummies(test['Age'], prefix = 'Age')

In [24]:
# Cabin Dummies for Train and Test datasets
cabin_train_d = pd.get_dummies(train['Cabin'], prefix = 'Cabin')
cabin_test_d = pd.get_dummies(test['Cabin'], prefix = 'Cabin')

In [25]:
# Title Dummies for Train and Test datasets
title_train_d = pd.get_dummies(train['Title'], prefix = 'Title')
title_test_d = pd.get_dummies(test['Title'], prefix = 'Title')

In [26]:
# Embarked Dummies for Train and Test datasets
emb_train_d = pd.get_dummies(train['Embarked'], prefix = 'Emb')
emb_test_d = pd.get_dummies(test['Embarked'], prefix = 'Emb')

In [27]:
# Concatenating all the dummy variables with Train and Test dataset
train = pd.concat([train, age_train_d, cabin_train_d, title_train_d, emb_train_d], axis = 1)
test = pd.concat([test, age_test_d, cabin_test_d, title_test_d, emb_test_d], axis = 1)

In [28]:
train.drop(['Cabin', 'Title', 'Embarked', 'Age', 'PassengerId'], axis = 1, inplace = True)
test.drop(['Cabin', 'Title', 'Embarked', 'Age', 'PassengerId'], axis = 1, inplace = True)

In [29]:
len(train.columns)

26

In [30]:
len(test.columns)

29

In [44]:
X_train = train[['Pclass', 'Sex', 'Fare', 'Members', 'Age_(0, 20]',
       'Age_(20, 30]', 'Age_(30, 40]', 'Age_(40, 50]', 'Age_(50, 60]',
       'Age_(60, 80]', 'Cabin_A', 'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E',
       'Cabin_F', 'Cabin_G', 'Cabin_U', 'Title_Master', 'Title_Miss',
       'Title_Mr', 'Title_Mrs', 'Title_Officer', 'Emb_C', 'Emb_Q', 'Emb_S']]

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import GridSearchCV

In [33]:
#Logistic Regression
l_clf = LogisticRegression()
grid_values = {
    'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000],
    'penalty': ['l1', 'l2'],
    'max_iter': list(range(100,800,100)),
    'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']
}

grid_search = GridSearchCV(l_clf, param_grid=grid_values, cv = 5, verbose = 3)
grid_search

GridSearchCV(cv=5, estimator=LogisticRegression(),
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000],
                         'max_iter': [100, 200, 300, 400, 500, 600, 700],
                         'penalty': ['l1', 'l2'],
                         'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag',
                                    'saga']},
             verbose=3)