<a href="https://colab.research.google.com/github/benvictoria21/pandas/blob/master/seo_analysis_SERP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
june6 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2018-12-16.csv")
aug15 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-01-01.csv")
mar1 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-01-15.csv")
oct1 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-02-01.csv")
jan1 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-02-15.csv")
jan15 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-03-01.csv")
may15 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-03-15.csv")
feb15 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-04-01.csv")
jul15 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-04-15.csv")
feb1 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-05-01.csv")
apr15 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-05-15.csv")
jun1 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-06-01.csv")
apr1 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-06-15.csv")
mar15 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-07-01.csv")
mar1 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-08-01.csv")
sept15 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-08-15.csv")
dec16 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-09-01.csv")
jul1 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-09-15.csv")
may1 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2019-10-01.csv")
feb15 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2020-02-15.csv")
sept1 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2020-03-01.csv")
aug1 = pd.read_csv("https://raw.githubusercontent.com/benvictoria21/pandas/master/dataset/Search%20Engine%20Results%20-%20Flights%20%26%20Tickets%20Keywords/flights_tickets_serp2020-03-15.csv")
june6.head(3)

            searchTerms  rank  ... formattedSearchTime formattedTotalResults
0  flights to hong kong     1  ...                0.16           106,000,000
1  flights to hong kong     2  ...                0.16           106,000,000
2  flights to hong kong     3  ...                0.16           106,000,000

[3 rows x 26 columns]

In [5]:
june6.displayLink.value_counts()

www.skyscanner.net          361
www.tripadvisor.com         285
www.expedia.com             247
www.kayak.com               196
www.cheapflights.com        178
                           ...
www.southernrailway.com       1
discovercracow.com            1
www.sydneyairport.com.au      1
www.seat61.com                1
www.meccabingo.com            1
Name: displayLink, Length: 271, dtype: int64

In [6]:
all = pd.concat([june6, aug15, mar1, oct1, jan1, jan15, may15, feb15, jul15, feb1, apr15, jun1, apr1 , mar15, mar1, sept15, dec16, jul1, may1, feb15, sept1, aug1])

In [7]:
most_popular = all.displayLink.value_counts()

most_popular

www.skyscanner.net            7599
www.tripadvisor.com           6019
www.expedia.com               5243
www.kayak.com                 4252
www.cheapflights.com          4036
                              ...
www.barcelona-airport.com        1
www.bhayacruises.com             1
www.wieliczka-saltmine.com       1
www.cambodiaangkorair.com        1
www.flightcentre.co.nz           1
Name: displayLink, Length: 627, dtype: int64

In [8]:
mean_rank = all[['displayLink', 'rank']].groupby(['displayLink'], as_index=False).mean().sort_values(by='rank')
mean_rank

                   displayLink       rank
390           www.ktmtrain.com   1.527778
581        www.turbojet.com.hk   1.818182
382              www.kayak.com   2.500941
317       www.getyourguide.com   2.543478
33   en.zhuhaichampionships.cn   2.625000
..                         ...        ...
323                 www.gov.uk  10.000000
341     www.horti-expo2019.org  10.000000
343        www.howto-osaka.com  10.000000
359         www.istairport.com  10.000000
626        www.zoobudapest.com  10.000000

[627 rows x 2 columns]

In [9]:
all.link.value_counts()

https://www.skyscanner.net/flights-to/osaa/cheap-flights-to-osaka.html                                                 90
https://www.opodo.co.uk/flights/antalya/AYT/                                                                           88
https://www.expedia.com/Cheap-Flights-To-Jeju-Island.d6049718.Travel-Guide-Flights                                     88
https://www.skyscanner.net/flights-to/doh/cheap-flights-to-hamad-international-airport.html                            88
https://www.kayak.co.uk/flight-routes/United-Kingdom-GB0/Heraklion-N-Kazantzakis-Apt--HER                              88
                                                                                                                       ..
https://www.tripadvisor.com.sg/Flights-g652370-Artvin_Province_Turkish_Black_Sea_Coast-Cheap_Discount_Airfares.html     1
http://www.nusatrip.com/en/flights/from/penang_island_PEN/to/denpasar_DPS                                               1
https://www.edreams.co.uk/flights/jakarta/JKT/                                                                          1
https://www.skyscanner.com.sg/flights-to/sela/cheap-flights-to-seoul.html                                               1
https://wizzair.com/en-gb/flights/vienna                                                                                1
Name: link, Length: 4713, dtype: int64