In [21]:
import numpy as np
import pandas as pd

In [22]:
df1=pd.read_csv('https://raw.githubusercontent.com/benvictoria17/DataAnalytics/main/dataset/Best%20Cities%20and%20Countries%20for%20Startups/Best%20Countries%20for%20Startups.csv')
df1

,ranking,change in position from 2020,country,total score,quantity score,quality score,business score,change in position sign
0,1.0,0,United States,124.420,19.45,101.17,3.80,NaN
1,2.0,0,United Kingdom,28.719,8.16,16.86,3.70,NaN
2,3.0,0,Israel,27.741,5.48,19.14,3.13,NaN
3,4.0,0,Canada,19.876,6.58,9.75,3.55,NaN
4,5.0,0,Germany,17.053,3.64,9.93,3.49,NaN
...,...,...,...,...,...,...,...,...
96,97.0,8,Uganda,0.180,0.07,0.04,0.07,-
97,98.0,2,Nepal,0.172,0.06,0.04,0.08,+
98,99.0,new entry,Namibia,0.165,0.04,0.05,0.07,NaN
99,100.0,new entry,Ethiopia,0.162,0.07,0.06,0.03,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df2=pd.read_csv('https://raw.githubusercontent.com/benvictoria17/DataAnalytics/main/dataset/Best%20Cities%20and%20Countries%20for%20Startups/Best%20Cities%20for%20Startups.csv')
df2

,position,change in position from 2020,city,country,total score,quatity score,quality score,business score,sign of change in position
0,1,0,San Francisco Bay,United States,328.966,29.14,296.02,3.80,NaN
1,2,0,New York,United States,110.777,11.43,95.55,3.80,NaN
2,3,3,Beijing,China,66.049,5.01,58.61,2.43,+
3,4,1,Los Angeles Area,United States,58.441,11.23,43.41,3.80,+
4,5,2,London,United Kingdom,56.913,15.77,37.44,3.70,-
...,...,...,...,...,...,...,...,...,...
995,996,26,Ouagadougou,Burkina Faso,0.060,0.02,0.02,0.02,-
996,997,new,Baghdad,Iraq,0.058,0.01,0.02,0.03,NaN
997,998,13,Mbabane,Swaziland,0.057,0.01,0.02,0.03,-
998,999,new,Conakry,Guinea,0.047,0.01,0.02,0.02,NaN
999,1000,new,Sanaa,Yemen,0.037,0.01,0.02,0.01,NaN

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ranking                       100 non-null    float64
 1   change in position from 2020  100 non-null    object
 2   country                       100 non-null    object
 3   total score                   100 non-null    float64
 4   quantity score                100 non-null    float64
 5   quality score                 100 non-null    float64
 6   business score                100 non-null    float64
 7   change in position sign       79 non-null     object
dtypes: float64(5), object(3)
memory usage: 6.4+ KB

In [ ]:
df["change in position from 2020"].uniqueq