In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm 
import matplotlib

plt.style.use('fivethirtyeight')
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'

In [8]:
df = pd.read_csv("https://raw.githubusercontent.com/benvictoria17/pandas/master/dataset/%20Bitcoin%20Trends/CBBTCUSD.csv")
df.head()

         DATE  CBBTCUSD
0  2015-08-19    227.34
1  2015-08-20    235.56
2  2015-08-21    232.85
3  2015-08-22    231.15
4  2015-08-23    229.21

In [9]:
df.describe()

           CBBTCUSD
count   1828.000000
mean    5035.927484
std     4022.727109
min      211.160000
25%      737.592500
50%     4738.720000
75%     8256.002500
max    19650.010000

In [10]:
df = df.sort_values("DATE")
print(df.head(1))
df.isnull().sum()

         DATE  CBBTCUSD
0  2015-08-19    227.34

DATE        0
CBBTCUSD    0
dtype: int64

In [11]:
df.groupby("DATE")["CBBTCUSD"].sum().reset_index()
print(df['DATE'].min())
print(df['DATE'].max())

2015-08-19
2020-08-19