<a href="https://colab.research.google.com/github/benvictoria21/python-panda/blob/master/Uber_Traffic_Data_Visualization_%C2%B7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


import os
for dirname, _, filenames in os.walk('/content'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/content/Final_Majestic_to_AIM_jan-2016tomarch-2018.xlsx
/content/.config/.last_survey_prompt.yaml
/content/.config/.last_update_check.json
/content/.config/active_config
/content/.config/config_sentinel
/content/.config/.last_opt_in_prompt.yaml
/content/.config/gce
/content/.config/.metricsUUID
/content/.config/configurations/config_default
/content/.config/logs/2020.07.30/16.29.44.119840.log
/content/.config/logs/2020.07.30/16.30.04.899171.log
/content/.config/logs/2020.07.30/16.29.49.434074.log
/content/.config/logs/2020.07.30/16.29.30.511119.log
/content/.config/logs/2020.07.30/16.30.04.254570.log
/content/.config/logs/2020.07.30/16.29.12.069758.log

In [16]:
df = pd.read_excel("Final_Majestic_to_AIM_jan-2016tomarch-2018.xlsx")
df

                    Date  ...  Early Morning Range - Upper Bound Travel Time (Seconds)
0    2017-04-04 00:00:00  ...                                               1969
1    2017-05-04 00:00:00  ...                                               1648
2    2017-06-04 00:00:00  ...                                               1805
3    2017-07-04 00:00:00  ...                                               1864
4    2017-08-04 00:00:00  ...                                               1822
..                   ...  ...                                                ...
816           02/24/2017  ...                                               1922
817           02/25/2017  ...                                               1916
818           02/26/2017  ...                                               1929
819           02/27/2017  ...                                               1956
820           02/28/2017  ...                                               2092

[821 rows x 23 columns]

In [17]:
df.drop(columns=['Daily Range - Lower Bound Travel Time (Seconds)'], inplace=True)
df

                    Date  ...  Early Morning Range - Upper Bound Travel Time (Seconds)
0    2017-04-04 00:00:00  ...                                               1969
1    2017-05-04 00:00:00  ...                                               1648
2    2017-06-04 00:00:00  ...                                               1805
3    2017-07-04 00:00:00  ...                                               1864
4    2017-08-04 00:00:00  ...                                               1822
..                   ...  ...                                                ...
816           02/24/2017  ...                                               1922
817           02/25/2017  ...                                               1916
818           02/26/2017  ...                                               1929
819           02/27/2017  ...                                               1956
820           02/28/2017  ...                                               2092

[821 rows x 22 columns]